{% extends 'AtekiaFlowlyBundle:Layout:default.html.twig' %}

{% block content %}

    <table id="datatable" class="table table-striped table-bordered" style="display: none">
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>message</th>
                <th>time</th>
            </tr>
        </thead>
        <tbody>
        {% for row in results %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.message }}</td>
                <td>{{ row.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function() {
            $('#datatable').dataTable({
                "oLanguage": {
                    "sEmptyTable":     "{{ 'datatable.sEmptyTable'|trans|raw }}",
                    "sInfo":           "{{ 'datatable.sInfo'|trans|raw }}",
                    "sInfoEmpty":      "{{ 'datatable.sInfoEmpty'|trans|raw }}",
                    "sInfoFiltered":   "{{ 'datatable.sInfoFiltered'|trans|raw }}",
                    "sInfoPostFix":    "{{ 'datatable.sInfoPostFix'|trans|raw }}",
                    "sInfoThousands":  "{{ 'datatable.sInfoThousands'|trans|raw }}",
                    "sLengthMenu":     "{{ 'datatable.sLengthMenu'|trans|raw }}",
                    "sLoadingRecords": "{{ 'datatable.sLoadingRecords'|trans|raw }}",
                    "sProcessing":     "{{ 'datatable.sProcessing'|trans|raw }}",
                    "sSearch":         "{{ 'datatable.sSearch'|trans|raw }}",
                    "sZeroRecords":    "{{ 'datatable.sZeroRecords'|trans|raw }}",
                    "oPaginate": {
                        "sFirst":    "{{ 'datatable.oPaginate.sFirst'|trans|raw }}",
                        "sLast":     "{{ 'datatable.oPaginate.sLast'|trans|raw }}",
                        "sNext":     "{{ 'datatable.oPaginate.sNext'|trans|raw }}",
                        "sPrevious": "{{ 'datatable.oPaginate.sPrevious'|trans|raw }}"
                    },
                    "oAria": {
                        "sSortAscending":  "{{ 'datatable.oAria.sSortAscending'|trans|raw }}",
                        "sSortDescending": "{{ 'datatable.oAria.sSortDescending'|trans|raw }}"
                    }
                }
            });
            $('#datatable').show();
        } );
    </script>

{% endblock %}