{% extends 'AtekiaFlowlyBundle:Layout:default.html.twig' %}

{% block title %}
    {{ 'manageproviders.title'|trans }}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ 'manageproviders.manageproviders'|trans }}</h4></div>
        <div class="panel-body">
            <p>{{ 'manageproviders.description'|trans }}</p>
            <div class="well well-sm">
                <div class="btn-group">
                    <a href="{{ path('atekia_flowly_expenses_addprovider') }}" class="btn btn-default"><i class="fa fa-user fa-fw"></i> {{ 'manageproviders.addprovider'|trans }}</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-align-middle dataTable">
                    <thead>
                        <tr>
                            <th>{{ 'manageproviders.id'|trans }}</th>
                            <th>{{ 'manageproviders.tradename'|trans }}</th>
                            <th>{{ 'manageproviders.regname'|trans }}</th>
                            <th>{{ 'manageproviders.taxid'|trans }}</th>
                            <th>{{ 'manageproviders.action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for provider in providers %}
                            <tr>
                                <td>{{ provider.id }}</td>
                                <td>{{ provider.tradeName }}</td>
                                <td>{{ provider.regName }}</td>
                                <td>{{ provider.taxId }}</td>
                                <td class="td-center">
                                    <div class="btn-group">
                                        <a class ="btn btn-default" href="#"><i class="fa fa-pencil-square-o fa-fw"></i> {{ 'manageproviders.edit'|trans }}</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}