{% extends 'AtekiaFlowlyBundle:Layout:default.html.twig' %}

{% block title %}
    {{ 'edituser.title'|trans }}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ 'edituser.edituser'|trans }}</h4></div>
        <div class="panel-body">
            <p>{{ 'edituser.description'|trans }}</p>
            <div class="bs-callout bs-callout-info">{{ 'edituser.info'|trans }}</div>
            <div class="panel-body">
                <div id="messages">
                    {% if result is defined and result == 'ok' %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ 'edituser.success'|trans }}
                        </div>
                    {% endif %}
                    {% if result is defined and result == 'error' %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ 'edituser.error'|trans }}
                        </div>
                    {% endif %}
                </div>
                <form class="form-horizontal" method="post">
                    <div class="well">
                        <div class="well-form-title">
                            {{ 'edituser.userdata'|trans }}
                        </div>
                        <div class="form-group">
                            <label for="inputUsername" class="control-label col-sm-2">{{ 'edituser.username'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputUsername"
                                       name="username"
                                       {% if data.username is defined %}value="{{ data.username }}"{% endif %}
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label col-sm-2">{{ 'edituser.password'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="password"
                                       class="form-control"
                                       id="inputPassword"
                                       name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRepeatPassword" class="control-label col-sm-2">{{ 'edituser.repeatpassword'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="password"
                                       class="form-control"
                                       id="inputRepeatPassword">
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="well-form-title">
                            {{ 'edituser.personaldata'|trans }}
                        </div>
                        <div class="form-group">
                            <label for="inputRealname" class="control-label col-sm-2">{{ 'edituser.realname'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="inputRealname"
                                       name="realname"
                                       {% if data.realname is defined %}value="{{ data.realname }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label col-sm-2">{{ 'edituser.email'|trans }}</label>
                            <div class="col-sm-10">
                                <input type="email"
                                       class="form-control"
                                       id="inputEmail"
                                       name="email"
                                       {% if data.email is defined %}value="{{ data.email }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ 'edituser.permissions'|trans }}</label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label><input type="checkbox"
                                                  id="inputAdmin"
                                                  name="admin"
                                                  {% if data.admin is defined %}checked{% endif %}
                                                  {% if not admin or data.role == 'ROLE_SUPER_ADMIN' %}disabled{% endif %}>{{ 'edituser.admin'|trans }}</label>
                                </div>
                            </div>

                            {% if data.role == 'ROLE_SUPER_ADMIN' %}
                                <input type="hidden" name="superadmin" value="superadmin">
                            {% endif %}

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <a href="
                                {% if admin %}
                                    {{ path('atekia_flowly_admin_manageusers') }}
                                {% else %}
                                    {{ path('atekia_flowly_home') }}
                                {% endif %}
                                " class="btn btn-danger">
                                    <i class="fa fa-times fa-fw"></i> {{ 'edituser.cancel'|trans }}
                                </a>
                                <button type="submit" id ="submit" class="btn btn-primary">
                                    <i class="fa fa-user fa-fw"></i> {{ 'edituser.edituser'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>

            $('form').submit(function(e) {

                var passed = true;

                $('#messages').empty();

                $('label').css('color', '');

                if ($('#inputUsername').val().trim() == '' ||
                        $('#inputEmail').val().trim() == '' ||
                        $('#inputRealname').val().trim() == '') {

                    $('#messages').append('\
                        <div class="alert alert-danger">\
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>\
                            {{ 'adduser.requiredfail'|trans }}\
                        </div>');

                    $('label[for=inputEmail]').css('color', '#a94442');
                    $('label[for=inputRealname]').css('color', '#a94442');

                    $('body').scrollTop(0);

                    passed = false;

                }

                if ($('#inputPassword').val() != $('#inputRepeatPassword').val()) {

                    $('#messages').append('\
                        <div class="alert alert-danger">\
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>\
                            {{ 'adduser.passwordfail'|trans }}\
                        </div>');

                    $("html, body").animate({ scrollTop: 0 }, "slow");

                    passed = false;

                }

                return passed;

            });

    </script>

{% endblock %}