{% extends 'AtekiaFlowlyBundle:Layout:default.html.twig' %}

{% block title %}
    {{ 'manageusers.title'|trans }}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ 'manageusers.manageusersandpermissions'|trans }}</h4></div>
        <div class="panel-body">
            <p>{{ 'manageusers.description'|trans }}</p>
            <div class="well well-sm">
                <div class="btn-group">
                    <a href="{{ path('atekia_flowly_admin_adduser') }}" class="btn btn-default"><i class="fa fa-user fa-fw"></i> {{ 'manageusers.adduser'|trans }}</a>
                </div>
            </div>
            <ul id="tabs" class="nav nav-tabs">
                <li class="{% if app.request.attributes.get('_route') == 'atekia_flowly_admin_manageusers' %}active{% endif %}"><a href="{{ path('atekia_flowly_admin_manageusers') }}">{{ 'manageusers.enabled'|trans }}</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'atekia_flowly_admin_manageusers_disabled' %}active{% endif %}"><a href="{{ path('atekia_flowly_admin_manageusers_disabled') }}">{{ 'manageusers.disabled'|trans }}</a></li>
            </ul>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-align-middle dataTable">
                    <thead>
                        <tr>
                            <th>{{ 'manageusers.username'|trans }}</th>
                            <th>{{ 'manageusers.realname'|trans }}</th>
                            <th>{{ 'manageusers.email'|trans }}</th>
                            <th>{{ 'manageusers.permissions'|trans }}</th>
                            <th>{{ 'manageusers.action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.realname }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {%  if user.role == 'ROLE_SUPER_ADMIN' %}
                                        {{ 'manageusers.superadmin'|trans }}
                                    {% elseif user.role == 'ROLE_ADMIN' %}
                                        {{ 'manageusers.admin'|trans }}
                                    {% elseif user.role == 'ROLE_USER' %}
                                        {{ 'manageusers.user'|trans }}
                                    {% endif %}
                                </td>
                                <td class="td-center">
                                    <div class="btn-group">
                                        <a class ="btn btn-default" href="{{ path('atekia_flowly_admin_edituser', {'userid': user.id}) }}"><i class="fa fa-pencil-square-o fa-fw"></i> {{ 'manageusers.edit'|trans }}</a>

                                        {% if (app.user.id is not defined or app.user.id != user.id) and user.role != 'ROLE_SUPER_ADMIN' %}
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    {% if user.active %}
                                                        <a href="#" class="bootbox-confirm-url" data-message="{{ 'manageusers.confirmdisable'|trans({'%user%': user.username}) }}" data-url="{{ path('atekia_flowly_admin_manageusers_disableuser', {'user': user.id}) }}"><i class="fa fa-times fa-fw"></i> {{ 'manageusers.disable'|trans }}</a>
                                                    {% else %}
                                                        <a href="#" class="bootbox-confirm-url" data-message="{{ 'manageusers.confirmenable'|trans({'%user%': user.username}) }}" data-url="{{ path('atekia_flowly_admin_manageusers_enableuser', {'user': user.id}) }}"><i class="fa fa-check fa-fw"></i> {{ 'manageusers.enable'|trans }}</a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        {% endif %}

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}